node-red app/flows.json
[
    {
        "id": "73dafa2e5aa8fce5",
        "type": "tab",
        "label": "API Mysql",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d850d3048615863d",
        "type": "MySQLdatabase",
        "name": "smart_aquarium - mysql",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "smart_aquarium",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "4e8989aa1b39439f",
        "type": "mysql",
        "z": "73dafa2e5aa8fce5",
        "mydb": "d850d3048615863d",
        "name": "mysql-1",
        "x": 480,
        "y": 80,
        "wires": [
            [
                "030bb906389f592d"
            ]
        ]
    },
    {
        "id": "9f8922966f131c6a",
        "type": "http in",
        "z": "73dafa2e5aa8fce5",
        "name": "API User Login",
        "url": "/api/user/login",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 80,
        "wires": [
            [
                "d71b510ebfc068b5"
            ]
        ]
    },
    {
        "id": "d71b510ebfc068b5",
        "type": "function",
        "z": "73dafa2e5aa8fce5",
        "name": "create query",
        "func": "msg.payload={}\nmsg.payload.username = msg.req.body.username;\nmsg.payload.password = msg.req.body.password;\n\nmsg.topic = \"SELECT * FROM `user` WHERE `username` = :username AND `password` = :password AND `isAdmin` = 0;\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 80,
        "wires": [
            [
                "4e8989aa1b39439f"
            ]
        ]
    },
    {
        "id": "030bb906389f592d",
        "type": "switch",
        "z": "73dafa2e5aa8fce5",
        "name": "check result payload",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nempty"
            },
            {
                "t": "empty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 980,
        "y": 460,
        "wires": [
            [
                "0cdc39d2cd8848e3"
            ],
            [
                "786caa8d2e124b69"
            ]
        ]
    },
    {
        "id": "74dc2b039d4f0d1b",
        "type": "http in",
        "z": "73dafa2e5aa8fce5",
        "name": "API User Register",
        "url": "/api/user/register",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 160,
        "wires": [
            [
                "bcd4b8235b8650d7"
            ]
        ]
    },
    {
        "id": "c865c184caf1c6e1",
        "type": "http response",
        "z": "73dafa2e5aa8fce5",
        "name": "201 - created",
        "statusCode": "201",
        "headers": {},
        "x": 1590,
        "y": 640,
        "wires": []
    },
    {
        "id": "ad74616030df0386",
        "type": "http response",
        "z": "73dafa2e5aa8fce5",
        "name": "400",
        "statusCode": "400",
        "headers": {},
        "x": 1570,
        "y": 860,
        "wires": []
    },
    {
        "id": "bcd4b8235b8650d7",
        "type": "function",
        "z": "73dafa2e5aa8fce5",
        "name": "create query",
        "func": "msg.payload = {};\nmsg.payload.username = msg.req.body.username;\nmsg.payload.password = msg.req.body.password;\nmsg.payload.name = msg.req.body.name;\nmsg.payload.email = msg.req.body.email;\nmsg.payload.gender = msg.req.body.gender;\nmsg.payload.date = msg.req.body.date;\n\nmsg.topic = \"INSERT INTO `user`(`username`, `password`, `name`, `email`, `gender`, `date`, `isAdmin`) VALUES (:username, :password, :name, :email, :gender, :date, 0);\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 160,
        "wires": [
            [
                "f44a1fc8b08c79a3"
            ]
        ]
    },
    {
        "id": "670031441fe839c6",
        "type": "http in",
        "z": "73dafa2e5aa8fce5",
        "name": "API User Update Info",
        "url": "/api/user/update",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 260,
        "wires": [
            [
                "3bb7a6dec316d831"
            ]
        ]
    },
    {
        "id": "861bbac4f9d05611",
        "type": "http response",
        "z": "73dafa2e5aa8fce5",
        "name": "200 - updated or deleted",
        "statusCode": "200",
        "headers": {},
        "x": 1630,
        "y": 740,
        "wires": []
    },
    {
        "id": "3bb7a6dec316d831",
        "type": "function",
        "z": "73dafa2e5aa8fce5",
        "name": "create query",
        "func": "msg.payload = {};\nmsg.payload.name = msg.req.body.name;\nmsg.payload.email = msg.req.body.email;\nmsg.payload.gender = msg.req.body.gender;\nmsg.payload.date = msg.req.body.date;\nmsg.payload.userId = msg.req.body.userId;\n\nmsg.topic = \"UPDATE `user` SET `name` = :name, `email` = :email, `gender` = :gender, `date` = :date WHERE `id` = :userId;\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 260,
        "wires": [
            [
                "ae036650fddca999"
            ]
        ]
    },
    {
        "id": "294722f56511d81c",
        "type": "http in",
        "z": "73dafa2e5aa8fce5",
        "name": "API Get User Aquariums",
        "url": "/api/user/aquarium",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 420,
        "wires": [
            [
                "8ed4754f0dd37c98"
            ]
        ]
    },
    {
        "id": "d858f2bbc2a25c77",
        "type": "http response",
        "z": "73dafa2e5aa8fce5",
        "name": "200 + data",
        "statusCode": "200",
        "headers": {},
        "x": 1590,
        "y": 560,
        "wires": []
    },
    {
        "id": "8ed4754f0dd37c98",
        "type": "function",
        "z": "73dafa2e5aa8fce5",
        "name": "create query",
        "func": "msg.payload = {};\nmsg.payload.userId = msg.req.body.userId;\n\nmsg.topic = \"SELECT * FROM `useraquarium` WHERE `user_id` = :userId;\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 420,
        "wires": [
            [
                "cc895554853a45bd"
            ]
        ]
    },
    {
        "id": "683c7d8719078d66",
        "type": "http in",
        "z": "73dafa2e5aa8fce5",
        "name": "API User Change Password",
        "url": "/api/user/updatePassword",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 340,
        "wires": [
            [
                "fa363b3e7efe4f13"
            ]
        ]
    },
    {
        "id": "fa363b3e7efe4f13",
        "type": "function",
        "z": "73dafa2e5aa8fce5",
        "name": "create query",
        "func": "msg.payload = {};\nmsg.payload.newPassword = msg.req.body.newPassword;\nmsg.payload.userId = msg.req.body.userId;\n\nmsg.topic = \"UPDATE `user` SET `password` = :newPassword WHERE `id` = :userId;\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 340,
        "wires": [
            [
                "d80e8ade8da32aca"
            ]
        ]
    },
    {
        "id": "a56c1900c0e1b4ed",
        "type": "http in",
        "z": "73dafa2e5aa8fce5",
        "name": "API Add User Aquarium",
        "url": "/api/user/aquarium/add",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 500,
        "wires": [
            [
                "5bcdc895bb23eabe"
            ]
        ]
    },
    {
        "id": "5bcdc895bb23eabe",
        "type": "function",
        "z": "73dafa2e5aa8fce5",
        "name": "create query",
        "func": "msg.payload = {};\nmsg.payload.aquariumName = msg.req.body.aquariumName;\nmsg.payload.userId = msg.req.body.userId;\nmsg.payload.deviceId = msg.req.body.deviceId;\n\nmsg.topic = \"INSERT INTO `useraquarium`(`aquarium_name`, `user_id`, `device_id`) VALUES (:aquariumName, :userId, :deviceId);\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 500,
        "wires": [
            [
                "49f1e70de97428e8"
            ]
        ]
    },
    {
        "id": "aabc95d80789b31a",
        "type": "http in",
        "z": "73dafa2e5aa8fce5",
        "name": "API Delete User Aquarium",
        "url": "/api/user/aquarium/delete",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 580,
        "wires": [
            [
                "de16b7d8c9e4eaf1"
            ]
        ]
    },
    {
        "id": "de16b7d8c9e4eaf1",
        "type": "function",
        "z": "73dafa2e5aa8fce5",
        "name": "create query",
        "func": "msg.payload = {};\nmsg.payload.id = msg.req.body.id;\n\nmsg.topic = \"DELETE FROM `useraquarium` WHERE `id` = :id;\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 580,
        "wires": [
            [
                "6848c140eaac498d"
            ]
        ]
    },
    {
        "id": "68eeb303ef273b33",
        "type": "http in",
        "z": "73dafa2e5aa8fce5",
        "name": "API Get Aquarium",
        "url": "/api/aquarium",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 740,
        "wires": [
            [
                "7cc851d40178ee87"
            ]
        ]
    },
    {
        "id": "7cc851d40178ee87",
        "type": "function",
        "z": "73dafa2e5aa8fce5",
        "name": "create query",
        "func": "msg.payload = {};\nmsg.payload.deviceId = msg.req.body.deviceId;\n\nmsg.topic = \"SELECT * FROM `aquarium` WHERE `device_id` = :deviceId;\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 740,
        "wires": [
            [
                "7844ced37757a77c"
            ]
        ]
    },
    {
        "id": "d0722035078d8c69",
        "type": "http in",
        "z": "73dafa2e5aa8fce5",
        "name": "API Create Aquarium",
        "url": "/api/aquarium/create",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 660,
        "wires": [
            [
                "9b36d66c01548390"
            ]
        ]
    },
    {
        "id": "9b36d66c01548390",
        "type": "function",
        "z": "73dafa2e5aa8fce5",
        "name": "create query",
        "func": "msg.payload = {};\nmsg.payload.deviceType = msg.req.body.deviceType;\nmsg.payload.deviceId = msg.req.body.deviceId;\n\nmsg.topic = \"INSERT INTO `aquarium`(`device_type`, `device_id`) VALUES (:deviceType, :deviceId);\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 660,
        "wires": [
            [
                "a75c853a5a05db9a"
            ]
        ]
    },
    {
        "id": "f44a1fc8b08c79a3",
        "type": "mysql",
        "z": "73dafa2e5aa8fce5",
        "mydb": "d850d3048615863d",
        "name": "mysql-2",
        "x": 500,
        "y": 160,
        "wires": [
            [
                "2e06fd7d69f2beda"
            ]
        ]
    },
    {
        "id": "c41e300d3d88f97a",
        "type": "catch",
        "z": "73dafa2e5aa8fce5",
        "name": "sql error",
        "scope": [
            "4e8989aa1b39439f",
            "f44a1fc8b08c79a3",
            "ae036650fddca999",
            "d80e8ade8da32aca",
            "cc895554853a45bd",
            "49f1e70de97428e8",
            "6848c140eaac498d",
            "7844ced37757a77c",
            "a75c853a5a05db9a",
            "767476bb43137487",
            "15cfd28c7dc62a8a",
            "a58ac4da3a46d298",
            "947ed628e2355767",
            "33fba90004e917f4",
            "7ef483f594391f3d",
            "cf0956361542df74",
            "447d799ce28c71d8",
            "59f5bcb9f393a7ac"
        ],
        "uncaught": false,
        "x": 1040,
        "y": 1000,
        "wires": [
            [
                "4390ee9b76d64bcc"
            ]
        ]
    },
    {
        "id": "4390ee9b76d64bcc",
        "type": "function",
        "z": "73dafa2e5aa8fce5",
        "name": "format error",
        "func": "msg.payload = {};\nmsg.payload.error = msg.error.message;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1310,
        "y": 960,
        "wires": [
            [
                "ad74616030df0386"
            ]
        ]
    },
    {
        "id": "ae036650fddca999",
        "type": "mysql",
        "z": "73dafa2e5aa8fce5",
        "mydb": "d850d3048615863d",
        "name": "mysql-3",
        "x": 500,
        "y": 260,
        "wires": [
            [
                "10cdb82807a18817"
            ]
        ]
    },
    {
        "id": "2e06fd7d69f2beda",
        "type": "switch",
        "z": "73dafa2e5aa8fce5",
        "name": "check result",
        "property": "payload.affectedRows",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 950,
        "y": 620,
        "wires": [
            [
                "c865c184caf1c6e1"
            ],
            [
                "786caa8d2e124b69"
            ]
        ]
    },
    {
        "id": "10cdb82807a18817",
        "type": "switch",
        "z": "73dafa2e5aa8fce5",
        "name": "check result",
        "property": "payload.affectedRows",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 990,
        "y": 900,
        "wires": [
            [
                "861bbac4f9d05611"
            ],
            [
                "786caa8d2e124b69"
            ]
        ]
    },
    {
        "id": "d80e8ade8da32aca",
        "type": "mysql",
        "z": "73dafa2e5aa8fce5",
        "mydb": "d850d3048615863d",
        "name": "mysql-4",
        "x": 520,
        "y": 340,
        "wires": [
            [
                "10cdb82807a18817"
            ]
        ]
    },
    {
        "id": "cc895554853a45bd",
        "type": "mysql",
        "z": "73dafa2e5aa8fce5",
        "mydb": "d850d3048615863d",
        "name": "mysql-5",
        "x": 520,
        "y": 420,
        "wires": [
            [
                "0cdc39d2cd8848e3"
            ]
        ]
    },
    {
        "id": "49f1e70de97428e8",
        "type": "mysql",
        "z": "73dafa2e5aa8fce5",
        "mydb": "d850d3048615863d",
        "name": "mysql-6",
        "x": 500,
        "y": 500,
        "wires": [
            [
                "2e06fd7d69f2beda"
            ]
        ]
    },
    {
        "id": "6848c140eaac498d",
        "type": "mysql",
        "z": "73dafa2e5aa8fce5",
        "mydb": "d850d3048615863d",
        "name": "mysql-7",
        "x": 500,
        "y": 580,
        "wires": [
            [
                "10cdb82807a18817"
            ]
        ]
    },
    {
        "id": "7844ced37757a77c",
        "type": "mysql",
        "z": "73dafa2e5aa8fce5",
        "mydb": "d850d3048615863d",
        "name": "mysql-9",
        "x": 500,
        "y": 740,
        "wires": [
            [
                "030bb906389f592d"
            ]
        ]
    },
    {
        "id": "a75c853a5a05db9a",
        "type": "mysql",
        "z": "73dafa2e5aa8fce5",
        "mydb": "d850d3048615863d",
        "name": "mysql-8",
        "x": 500,
        "y": 660,
        "wires": [
            [
                "2e06fd7d69f2beda"
            ]
        ]
    },
    {
        "id": "786caa8d2e124b69",
        "type": "function",
        "z": "73dafa2e5aa8fce5",
        "name": "format error",
        "func": "msg.payload = {};\nmsg.payload.error = \"Error: Sql query return incorrect results\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1330,
        "y": 860,
        "wires": [
            [
                "ad74616030df0386"
            ]
        ]
    },
    {
        "id": "0cdc39d2cd8848e3",
        "type": "function",
        "z": "73dafa2e5aa8fce5",
        "name": "format result",
        "func": "temp = msg.payload;\n\nmsg.payload = {};\nmsg.payload.results = temp;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1310,
        "y": 560,
        "wires": [
            [
                "d858f2bbc2a25c77"
            ]
        ]
    },
    {
        "id": "767476bb43137487",
        "type": "mysql",
        "z": "73dafa2e5aa8fce5",
        "mydb": "d850d3048615863d",
        "name": "mysql-10",
        "x": 500,
        "y": 840,
        "wires": [
            [
                "030bb906389f592d"
            ]
        ]
    },
    {
        "id": "bd55ea070446e430",
        "type": "http in",
        "z": "73dafa2e5aa8fce5",
        "name": "API Admin Login",
        "url": "/api/admin/login",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 840,
        "wires": [
            [
                "1bb6e0f791348a8d"
            ]
        ]
    },
    {
        "id": "1bb6e0f791348a8d",
        "type": "function",
        "z": "73dafa2e5aa8fce5",
        "name": "create query",
        "func": "msg.payload={}\nmsg.payload.username = msg.req.body.username;\nmsg.payload.password = msg.req.body.password;\n\nmsg.topic = \"SELECT * FROM `user` WHERE `username` = :username AND `password` = :password AND `isAdmin` = 1;\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 840,
        "wires": [
            [
                "767476bb43137487"
            ]
        ]
    },
    {
        "id": "15cfd28c7dc62a8a",
        "type": "mysql",
        "z": "73dafa2e5aa8fce5",
        "mydb": "d850d3048615863d",
        "name": "mysql-11",
        "x": 500,
        "y": 920,
        "wires": [
            [
                "0cdc39d2cd8848e3"
            ]
        ]
    },
    {
        "id": "41325e1d82befb43",
        "type": "http in",
        "z": "73dafa2e5aa8fce5",
        "name": "API Admin Dashboard",
        "url": "/api/admin/dashboard",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 920,
        "wires": [
            [
                "c07ed18ee47a3699"
            ]
        ]
    },
    {
        "id": "c07ed18ee47a3699",
        "type": "function",
        "z": "73dafa2e5aa8fce5",
        "name": "create query",
        "func": "msg.topic = \"SELECT (SELECT count(`id`) FROM `aquarium`) AS total_devices, (SELECT count(`id`) FROM `user`) AS total_users;\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 920,
        "wires": [
            [
                "15cfd28c7dc62a8a"
            ]
        ]
    },
    {
        "id": "a58ac4da3a46d298",
        "type": "mysql",
        "z": "73dafa2e5aa8fce5",
        "mydb": "d850d3048615863d",
        "name": "mysql-12",
        "x": 500,
        "y": 1000,
        "wires": [
            [
                "0cdc39d2cd8848e3"
            ]
        ]
    },
    {
        "id": "c6507d11992d898f",
        "type": "http in",
        "z": "73dafa2e5aa8fce5",
        "name": "API Admin Users",
        "url": "/api/admin/users",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 1000,
        "wires": [
            [
                "21d720eb0f642906"
            ]
        ]
    },
    {
        "id": "21d720eb0f642906",
        "type": "function",
        "z": "73dafa2e5aa8fce5",
        "name": "create query",
        "func": "msg.topic = \"SELECT * FROM `user`\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 1000,
        "wires": [
            [
                "a58ac4da3a46d298"
            ]
        ]
    },
    {
        "id": "947ed628e2355767",
        "type": "mysql",
        "z": "73dafa2e5aa8fce5",
        "mydb": "d850d3048615863d",
        "name": "mysql-13",
        "x": 500,
        "y": 1080,
        "wires": [
            [
                "030bb906389f592d"
            ]
        ]
    },
    {
        "id": "f05090b50e0c285b",
        "type": "http in",
        "z": "73dafa2e5aa8fce5",
        "name": "API Admin User Edit",
        "url": "/api/admin/user/edit",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 1080,
        "wires": [
            [
                "11c49425c347c133"
            ]
        ]
    },
    {
        "id": "11c49425c347c133",
        "type": "function",
        "z": "73dafa2e5aa8fce5",
        "name": "create query",
        "func": "msg.payload={}\nmsg.payload.userId = msg.req.body.userId;\n\nmsg.topic = \"SELECT * FROM `user` WHERE `id` = :userId\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 1080,
        "wires": [
            [
                "947ed628e2355767"
            ]
        ]
    },
    {
        "id": "33fba90004e917f4",
        "type": "mysql",
        "z": "73dafa2e5aa8fce5",
        "mydb": "d850d3048615863d",
        "name": "mysql-14",
        "x": 540,
        "y": 1160,
        "wires": [
            [
                "0cdc39d2cd8848e3"
            ]
        ]
    },
    {
        "id": "8361e7de5f4622d2",
        "type": "http in",
        "z": "73dafa2e5aa8fce5",
        "name": "API Admin Device Aquarium",
        "url": "/api/admin/aquariums",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 1160,
        "wires": [
            [
                "388a69a811a504e5"
            ]
        ]
    },
    {
        "id": "388a69a811a504e5",
        "type": "function",
        "z": "73dafa2e5aa8fce5",
        "name": "create query",
        "func": "msg.topic = \"SELECT * FROM `aquarium`\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 1160,
        "wires": [
            [
                "33fba90004e917f4"
            ]
        ]
    },
    {
        "id": "7ef483f594391f3d",
        "type": "mysql",
        "z": "73dafa2e5aa8fce5",
        "mydb": "d850d3048615863d",
        "name": "mysql-16",
        "x": 560,
        "y": 1320,
        "wires": [
            [
                "10cdb82807a18817"
            ]
        ]
    },
    {
        "id": "2bdf3c5604ace761",
        "type": "http in",
        "z": "73dafa2e5aa8fce5",
        "name": "API Admin Device Aquarium Update",
        "url": "/api/admin/aquarium/update",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 1320,
        "wires": [
            [
                "07ebc8c2d4a34c07"
            ]
        ]
    },
    {
        "id": "07ebc8c2d4a34c07",
        "type": "function",
        "z": "73dafa2e5aa8fce5",
        "name": "create query",
        "func": "msg.payload = {};\nmsg.payload.deviceType = msg.req.body.deviceType;\nmsg.payload.deviceId = msg.req.body.deviceId;\nmsg.payload.id = msg.req.body.id;\n\nmsg.topic = \"UPDATE `aquarium` SET `device_type` = :deviceType, `device_id` = :deviceId WHERE `id` = :id;\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 1320,
        "wires": [
            [
                "7ef483f594391f3d"
            ]
        ]
    },
    {
        "id": "cf0956361542df74",
        "type": "mysql",
        "z": "73dafa2e5aa8fce5",
        "mydb": "d850d3048615863d",
        "name": "mysql-15",
        "x": 560,
        "y": 1240,
        "wires": [
            [
                "030bb906389f592d"
            ]
        ]
    },
    {
        "id": "530ff418b8bc79d3",
        "type": "http in",
        "z": "73dafa2e5aa8fce5",
        "name": "API Admin Device Aquarium Edit",
        "url": "/api/admin/aquarium/edit",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 1240,
        "wires": [
            [
                "1efa67c89805255c"
            ]
        ]
    },
    {
        "id": "1efa67c89805255c",
        "type": "function",
        "z": "73dafa2e5aa8fce5",
        "name": "create query",
        "func": "msg.payload={}\nmsg.payload.id = msg.req.body.id;\n\nmsg.topic = \"SELECT * FROM `aquarium` WHERE `id` = :id\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 1240,
        "wires": [
            [
                "cf0956361542df74"
            ]
        ]
    },
    {
        "id": "1a1f0d32062fadf3",
        "type": "http in",
        "z": "73dafa2e5aa8fce5",
        "name": "API Delete User",
        "url": "/api/admin/user/delete",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 1400,
        "wires": [
            [
                "8f74c664ad296ffe"
            ]
        ]
    },
    {
        "id": "8f74c664ad296ffe",
        "type": "function",
        "z": "73dafa2e5aa8fce5",
        "name": "create query",
        "func": "msg.payload = {};\nmsg.payload.id = msg.req.body.id;\n\nmsg.topic = \"DELETE FROM `user` WHERE `id` = :id;\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 1400,
        "wires": [
            [
                "447d799ce28c71d8"
            ]
        ]
    },
    {
        "id": "447d799ce28c71d8",
        "type": "mysql",
        "z": "73dafa2e5aa8fce5",
        "mydb": "d850d3048615863d",
        "name": "mysql-17",
        "x": 560,
        "y": 1400,
        "wires": [
            [
                "10cdb82807a18817"
            ]
        ]
    },
    {
        "id": "7efba9b07743d49b",
        "type": "http in",
        "z": "73dafa2e5aa8fce5",
        "name": "API Delete Device Aquarium",
        "url": "/api/admin/aquarium/delete",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 1480,
        "wires": [
            [
                "8295feb72d4856b0"
            ]
        ]
    },
    {
        "id": "8295feb72d4856b0",
        "type": "function",
        "z": "73dafa2e5aa8fce5",
        "name": "create query",
        "func": "msg.payload = {};\nmsg.payload.id = msg.req.body.id;\n\nmsg.topic = \"DELETE FROM `aquarium` WHERE `id` = :id;\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 1480,
        "wires": [
            [
                "59f5bcb9f393a7ac"
            ]
        ]
    },
    {
        "id": "59f5bcb9f393a7ac",
        "type": "mysql",
        "z": "73dafa2e5aa8fce5",
        "mydb": "d850d3048615863d",
        "name": "mysql-18",
        "x": 560,
        "y": 1480,
        "wires": [
            [
                "10cdb82807a18817"
            ]
        ]
    }
]